body{
  padding: 10px;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("https://source.unsplash.com/BtbjCFUvBXs/1920x1080");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header {
    margin-bottom: 100px;
  }

 main{
   img{
    height: 300px;
   }
   a{
     color: black;
   }
 }

nav{
  background-color: rgb(243, 233, 241);
}

  input{
    width: 100%;
    border: 1px solid;
  }

.price{
  border: hidden;
  background-color: rgb(243, 233, 241);
  width: auto;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
select{
  width: 100%;
}
.list-inline{
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 233, 241);
  padding: 10px; 
}
.btn-dark{
  width: 100%;
  margin-top: 20px;
}
@media only screen and (min-width: 768px){
  .btn-dark{
    width: 30%;
    margin-left: 68%;
  }
  .btnAcc{
    margin-left: 250px;
  }
}
@media only screen and (min-width: 1024px){
  .btn-dark{
    width: 35%;
    margin-left: 65%;
  }
  .btnAcc{
    margin-left: 30px;
    margin-left: 340px;
  }
}

.title_price{
  display: flex;
  justify-content: space-between;
}
.basket{
  width: 100%;
  margin-left: 10px;
  margin-bottom: 50px;

}
h4{
  text-align: center;
}
#erreur{
  color: red;
  font-weight: bold;
}
input:invalid {
  border: red solid 1px;
}
main{
  img{
    object-fit: cover;
  }
}